{% extends "base.html" %}


{% block page_title %}
안전예보
{% endblock page_title %}

{% block content %}

<div class="container mx-auto pb-10">
    <div class="justify-between flex mb-3">
        <div class='w-1/2 flex'>
            <a href="{% url 'prediction:create' %}" class="btn bg-red-500 my-0 mx-3 text-white">신규작성</a>
        </div>
        <div class='w-full align-middle'>
            <div>
                <form method="get" action="{% url "prediction:search" %}" class="w-9/12 inline-block align-middle">
                    <input
                        class="search-box border inline-block align-middle px-5 w-full font-medium text-gray-900 placeholder-gray-600 py-3 rounded-sm w-64 shadow-md hover:shadow-lg focus:outline-none"
                        name="title" placeholder="Search by Title" />
                </form>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap justify-center mb-10">
        {% for event in prediction %}
        {% include 'mixins/events/event_card.html' with event=event %}
        {% endfor %}
    </div>
    <div class="flex items-center justify-center mx-auto container">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i>
        </a>
        {% endif %}

        <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i>
        </a>
        {% endif %}


    </div>
</div>
{% endblock content %}