{% extends "base.html" %}


{% block page_title %}
인원보고 목록
{% endblock page_title %}

{% block content %}

<div class="container mx-auto pb-10">
    <div class="justify-center flex mb-3">
        <div class='w-1/4 flex'>
            <a href="{% url 'personnel:create' %}" class="btn bg-red-500 my-0 mx-3 text-white">신규작성</a>
        </div>
    </div>
    <div class="flex flex-wrap justify-center mb-10">
        {% for report in personnel_report %}
        {% include 'mixins/personnel/report_card.html' with report=report %}
        {% endfor %}
    </div>
    <div class="flex items-center justify-center mx-auto container">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i>
        </a>
        {% endif %}

        <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i>
        </a>
        {% endif %}


    </div>
</div>

{% endblock content %}