{% extends "base.html" %}

{% block page_title %}
Personnel create
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}
{% block content %}

<div class="container mx-auto flex justify-around pb-10">
    <div class="col-md-4">
        <form method="post">
            {% csrf_token %}

            <h4>Program</h4>
            {{ form.as_p }}

            <h4>인원정보</h4>
            {{ formset.management_form }}
            <div class="mb-3" id="items-form-container">
                {% for each_form in formset %}
                <div class="flex mb-3 justify-between">
                    {{each_form.id}}
                    <div class="w-full">{{ each_form.personnel }}</div>
                    <div class="w-full mx-3">{{ each_form.number }}</div>
                    <div class="input-group-append">
                    </div>
                </div>
                {% endfor %}

            </div>
            <a href="#" id="add-item-button" class="btn btn-info add-item">Add Item</a>
            <p>
                <button class="btn" type="submit">전송</button>
                {% if object %}
                <input type="button" value="삭제" onclick="location.href='{% url 'personnel:delete' object.id %}'" />
                {% endif %}
            </p>
        </form>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/html" id="item-template">
    <div class="flex mb-3 justify-between">
        <div class="w-full">{{formset.empty_form.personnel}}</div>
        <div class="w-full mx-3">{{formset.empty_form.number}}</div>
    </div>
    </script>
<script>
    $(document).ready(function () {
        $('.add-item').click(function (ev) {
            ev.preventDefault();
            var count = $('#items-form-container').children().length;
            var tmplMarkup = $('#item-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('div#items-form-container').append(compiledTmpl);

            // update form count
            $('#id_info-TOTAL_FORMS').attr('value', count + 1);

            // some animate to scroll to view our new form
            $('html, body').animate({
                scrollTop: $("#add-item-button").position().top - 200
            }, 800);
            console.log("1회 작동")
        });
    });
</script>

{% endblock content %}