{% extends "base.html" %}

{% block page_title %}
Personnel create
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}
{% block content %}

<div class="container mx-auto flex justify-around pb-10">
    <div class="col-md-4">
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}

            <table class="table">
                {{ personnelinfos.management_form }}

                {% for form in personnelinfos.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% endif %}
                <tr>
                    {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Save" /><a>back to the list</a>
        </form>
    </div>
</div>

{% endblock content %}